*.7z
*.app
*.bak
*.class
*.diff
*.dmg
*.err
*.exe
*.gz
*.iso
*.jar
*.log
*.patch
*.pyc
*.rar
*.so
*.swp
*.tar
*.tgz
*.vi
*.vim
*.xz
*.zip
.DS_Store
.Spotlight-V100
.Trashes
._*
/composer.phar
/lib/
Desktop.ini
Thumbs.db
